<html>
	<head>
		<style>
		{
			box-sizing: border-box;
		}
		/* Set additional styling options for the columns*/
		.column {
		float: left;
		}
		
		.left {
		width: 22%
		}
		
		.right {
		width: 70%
		}

		.row:after {
		content: "";
		display: table;
		clear: both;
		}
		</style>
	</head>
	<body>
		<div class="row">
			<div class="column left">
				<p align="left">
					{{ include.content1 }}
				</p>
			</div>
			<div class="column right">
				<p align="left">
					{{ include.content2 }}
				</p>
			</div>
		</div>
	</body>
</html>