/* sh code block */
.highlight .language-sh, pre.language-sh {
    background-color: #e0f7fa !important; 
    padding: 10px !important;
    border-radius: 4px !important;
}

/* R code block */
.highlight .language-r, pre.language-r {
    background-color: #fff3e0 !important;
    padding: 10px !important;
    border-radius: 4px !important;
}

/* Python code block */
.highlight .language-python, pre.language-python {
    background-color: #d4edda !important;
    padding: 10px !important;
    border-radius: 4px !important;
}