---
layout: default
---

<div style="max-width:700px; margin:auto; background:white;">

  {% include newsletterheader.html %}

  <!-- INTRO -->
  <div style="padding:20px; font-size:16px; color:#333;">
    {{ page.intro | newline_to_br }}
  </div>

  <!-- SECTIONS -->
  {% for section in page.sections %}
    <div style="padding:20px;">
      <h2 style="border-bottom:2px solid #0b3d5c; padding-bottom:6px; margin-bottom:10px; font-szie:22px;">
        {{ section.title }}
      </h2>
    </div>

    {% for item in section.items %}
      <div style="padding:10px 20px;">
        <table width="100%">
          <tr>

            {% if item.image %}
            <td width="180">
              <img src="{{ item.image }}" width="160" style="display:block; border-radius:4px;">
            </td>
            {% endif %}

            <td>
              {% if item.link %}
                <a href="{{ item.link }}"><strong style="font-size:16px; display:block; margin-bottom:4px;">{{ item.title }}</strong></a>
              {% else %}
                <strong style="font-size:16px; display:block; margin-bottom:4px;">{{ item.title }}</strong>
              {% endif %}

              <p> style="margin:6px 0;">{{ item.description }}</p>

              {% if item.date %}
                <p style="color:#666;">
                  {{ item.date }}{% if item.location %} | {{ item.location }}{% endif %}
                </p>
              {% endif %}

              {% if item.deadline %}
                <p style="color:#d35400;">
                  {{ item.deadline }}
                </p>
              {% endif %}
            </td>

          </tr>
        </table>
      </div>

      <hr>

    {% endfor %}
  {% endfor %}

</div>